body {
    background-image: url("./images/img.jpg");
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #555;
    line-height: 1.5;
}

.carpark {
    width: fit-content;
}
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
}
.floor-container {
    background-color: rgba(0, 0, 0, 0.7);
}
