body {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
  line-height: 1.5;
}

.grid-container {
  margin: 1vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  padding: 1vw;
  background-color: #4f524f;
}
.carpark {
  width: fit-content;
}
